---
layout: default
---
<div class="row">
  <div class="col s12 m10 offset-m1">
    {% for post in paginator.posts limit: 10%}
      <ul class="collapsible popout" data-collapsible="expandable">
        <li>
          <div class="collapsible-header"><i class="material-icons">event_note</i><a href="{{ post.url }}">{{ post.title }}</a></div>
          <div class="collapsible-body blue-grey lighten-5" style="display: block;"><span>{{ post.description }}</span></div>
        </li>
      </ul>
    {% endfor %}
  </div>
</div>
{% if paginator.total_pages > 1 %}
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="center">
        <ul class="pagination">
          {% if paginator.previous_page %}
            {% if paginator.page == 2 %}
              <li><a href="{{ site.url }}"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
              <li><a href="/page{{ paginator.previous_page }}"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}
          {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          {% endif %}
          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              {% if paginator.page == 1 %}
                <li style="background-color: #40c4ff"><a href="{{ site.url }}">1</a></li>
              {% else %}
                <li style="background-color: #40c4ff"><a href="/page{{ page }}">{{ page }}</a></li>
              {% endif %}
              {% elsif page == 1 %}
              <li><a href="{{ site.url }}">1</a></li>
            {% else %}
              <li><a href="/page{{ page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}
          {% if paginator.next_page %}
            <li><a href="/page{{ paginator.next_page }}"><i class="material-icons">chevron_right</i></a></li>
          {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}