---
layout: default
---
<div class="container" style="margin-top: -200px">
  <div class="row">
    <div class="col s12 m8 offset-m2">

    {% for post in paginator.posts limit: 20%}
      <div class="card">
        <div class="card-content">
          <span class="card-title"><a href="{{ site.url }}{{ post.url }}" target="_blank">{{ post.title }}</a></span>
          <p>{{ post.description }}</p>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  {% if paginator.total_pages > 1 %}
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="center">
          <ul class="pagination">
            {% if paginator.previous_page %}
                {% if paginator.page == 2 %}
                  <li><a href="{{ site.url }}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                  <li><a href="/page{{ paginator.previous_page }}"><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                {% if paginator.page == 1 %}
                  <li style="background-color: #40c4ff"><a href="{{ site.url }}">1</a></li>
                {% else %}
                  <li style="background-color: #40c4ff"><a href="/page{{ page }}">{{ page }}</a></li>
                {% endif %}
              {% elsif page == 1 %}
                <li><a href="{{ site.url }}">1</a></li>
              {% else %}
                <li><a href="/page{{ page }}">{{ page }}</a></li>
              {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
              <li><a href="/page{{ paginator.next_page }}"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
              <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red">
    <i class="material-icons" style="font-size: 36px">more_vert</i>
  </a>
  <ul>
    <li><a class="btn-floating red darken-1"><i class="material-icons">keyboard_arrow_up</i></a></li>
    <li><a class="btn-floating yellow" href="/"><i class="material-icons">home</i></a></li>
    <!-- <li><a class="btn-floating green" href="#"><i class="material-icons">search</i></a></li> -->
    <li><a class="btn-floating blue" href="#"><i class="material-icons">search</i></a></li>
  </ul>
</div>
