<div class="light-blue darken-2" style="height: 30px;"></div>
<nav class="light-blue accent-2" style="height: 300px;">
    <div class="nav-wrapper" style="position: absolute;">
        <a href="#" data-activates="mobile-demo" class="right button-collapse show-on-large"><i class="material-icons black-text" style="font-size: 36px">menu</i></a>
        <ul id="mobile-demo" class="side-nav u-nav">
            <li><div class="user-view">
                <div class="background">
                    <img src="{{ site.url }}/images/office.jpg">
                </div>
                <a href="#"><img class="circle" src="{{ site.url }}/images/avatar.png"></a>
                <a href="#"><span class="white-text name">Urouge</span></a>
                <a href="#"><span class="white-text email">uuurouge@gmail.com</span></a>
            </div></li>
            <li><a class="waves-effect" href="{{ site.url }}"><i class="material-icons">home</i>Home</a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="{{ site.url }}/archives"><i class="material-icons">event_note</i>Archives</a></li>
            <li><a class="waves-effect" href="{{ site.url }}/tags"><i class="material-icons">bookmark_border</i>Tags</a></li>
            <li><a class="waves-effect" href="{{ site.url }}/search"><i class="material-icons">search</i>Search</a></li>
            <li><a class="waves-effect" href="{{ site.url }}/about"><i class="material-icons">mood</i>About</a></li>
        </ul>
    </div>
</nav>