---
layout: default
---
<div class="container" style="margin-top: -200px">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <center>
                <h3>{{ page.title }}</h3>
            </center>
            <div class="card">
                <div class="card-content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col s12 m8 offset-m2">
        {% include comments.md %}
      </div>
    </div>
</div>
